cdk/*.js
cdk/!jest.config.js
cdk/*.d.ts
cdk/node_modules
cdk/test
*.bkp

# CDK asset staging directory
cdk/.cdk.staging
cdk/cdk.out

cdk/lib/emr-scripts/emr-stack.ts
node_modules/
support/
cdk_typescript/

*.drawio
*drawio*.pdf
*.drawio-old*


README2.md
README2Copy.md
images/
stepfunctiontasks.txt